{% extends 'pages/base.html' %}

{% block title %} Contacto {% endblock %}
{% block header_title %} Información de Contacto {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>Dirección</h3>
      <p class="lead">
        Calle Principal #123<br>
        Ciudad, País<br>
        Código Postal 12345
      </p>
    </div>
    <div class="col-lg-4">
      <h3>Teléfono</h3>
      <p class="lead">
        +1 234 567 8900<br>
        Lunes a Viernes<br>
        9:00 AM - 6:00 PM
      </p>
    </div>
    <div class="col-lg-4">
      <h3>Email</h3>
      <p class="lead">
        info@tiendaonline.com<br>
        soporte@tiendaonline.com
      </p>
    </div>
  </div>
</div>
{% endblock %}